@model List<TableSalaryVM>

@{
	int index = 1;
}
<table class="table">
	<thead>
		<tr class="text-center">
			<th scope="col">№</th>
			<th scope="col">Full name</th>
			<th scope="col">Position</th>
			<th scope="col">Department</th>
			<th scope="col">Company</th>
			<th scope="col" class="table-warning">Salary</th>
		</tr>
	</thead>
	<tbody class="table-group-divider text-center">
		@foreach (var person in Model)
		{
			<tr id="SalaryRow">
				<td>@(index++)</td>
				<td id="FullNameCell">@person.FullName</td>
				<td id="PositionCell">@(person.Position == null ? "―" : person.Position)</td>
				<td id="DepartmentCell">@(person.Department == null ? "―" : person.Department)</td>
				<td id="CompanyCell">@(person.Company == null ? "―" : person.Company)</td>
				<td id="SalaryCell" class="table-warning"><h6>@(person.Salary == null ? "―" : person.Salary)</h6></td>
			</tr>
		}
		<tr class="table-warning">
			<td class="text-start" colspan="5"><h6>Total:</h6></td>
			<td><h6>@Model?.Sum(x => x.Salary)</h6></td>
		</tr>
	</tbody>
</table>